.postulanteinfo{
    
}

.subtitle{
    font-size: .7rem;
}
.information-item{
    font-size: .7rem;
}

.card-bg-color{
    background-color: rgba(107, 107, 107, 0.51);
}

.experiencia_fecha{
    font-size: .6rem;
    font-weight: 100;
}