.listarconvocatoria {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    margin-top: 2%;
}

.columna-ajuste {
    max-width: 200px;
    text-align: justify;
    white-space: normal;
    word-wrap: break-word;
  }


