.tablero-container {
    text-align: center;
    margin-top: 10px;
}

.tablero {
    display: flex;
    flex-wrap: wrap;
    color: #001840;
    padding: 10px;
}

.columna {
    flex: 1;
    margin: 0 10px 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 5px #145acb;
    border: 1px solid #2873ea;
    transition: all 0.3s ease;
}

.columna:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.postulante {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.postulante p {
    margin: 0;
    font-size: 16px;
    color: #333333;
}

.postulante:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
