.datatable2{
    background-color: black;
    color: 'blue';
    font-Size: '16px';
}

.datatable-espaciado{
    padding-top:20px;
    margin-top: 20px;
}

h1{
    margin-bottom: 20px;
}

.random{
    margin-top: 20px;
}