@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

h1{
    margin-bottom: 20px;
}

.listartecnologia{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    margin-top: 2%;
}



.p-datatable-tbody > tr {
    border-bottom: 1px solid black; /* Agrega una línea negra entre las filas */
}

/* Estilos para el DataTable*/
.p-datatable {
    font-family: Arial, sans-serif; /* Cambia el tipo de letra */
    font-size: 16px; /* Cambia el tamaño de letra */
}
  
  /* Estilos para las filas de encabezado (headers) */
  .p-datatable-thead th {
    background-color: #007bff; /* Cambia el color de fondo del header */
    color: #ffffff; /* Cambia el color del texto del header */
    font-size: 20px !important;
  }

