.tecnologia-container {
    max-width: 450px;
    padding: 50px;
    color: white;
    background-color: #ffffff;
    margin: 80px auto; 
    border-radius: 10px;
}

.tecnologia-container h1,
.tecnologia-container h2 {
    text-align: left;
    color:  #0056b3;
    font-weight: bold; 
}

.tecnologia-container h4,
.tecnologia-container h6 {
    margin-top: 20px;
    text-align: left;
}

.tecnologia-container form {
    margin-top: 10px;
    text-align: left;
    color:  #0056b3;
}

.tecnologia-container button {
    margin-top: 20px;
}

.tecnologia-container  input{
    background-color:   #347bc822; /* Cambia 'lightblue' por el color que desees */
}

.tecnologia-container {
    margin-bottom: 20px;
  }
.alert {
    margin-top: 30px; 
  }

  
 
  